<!DOCTYPE html>
<html lang="en">
<header>
  <meta http-equiv="Content-Security-Policy"
    content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' http://www.google.com">
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="shortcut icon" href="images/favicon.ico">

  <link rel="stylesheet" href="/css/master.css">
  <link rel="stylesheet" href="/css/bookInfo.css">

  <title id="pageTitle" th:text="${book.title}"></title>
</header>

<body id="bookInfoBody">
  <div class="jumbotron" id="jumbotron">
    <h1 th:text="${book.title}"></h1>
  </div>
  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="">Tom's & Noble</a>

    <div class="navbar" id="mainNavBar">
      <a class="nav-link" href="/index.html">Home <span class="sr-only">(current)</span></a>
      <a class="nav-link" href="/about.html">About </a>
      <a class="nav-link" href="/register.html">Register </a>
      <a class="nav-link" href="/login.html">Login </a>
    </div>
  </nav> -->
  <!--Ending div for mainNavBar-->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="">Tom's & Noble</a>

    <div class="navbar" id="siteStuff">
      <a class="nav-link" href="/" id="navLink">Home </a>
      <a class="nav-link" href="/about.html" id="navLink" value="about.html">About </a>
    </div>
    <div class="navbar" id="accountStuff">
      <a class="nav-link" href="/userInfo" id="navLink" value="userInfo.html">Your Profile</a>
      <a class="nav-link" href="/register.html" id="navLink" value="register.html">Register </a>
      <a class="nav-link" href="/login.html" id="navLink" value="login.html">Login</a>
      <a class="nav-link" href="/logout" id="navLink">Sign out </a>
    </div>
    <!--Ending div for mainNavBar-->
  </nav>

  <div class="container" id="mainBody">
    <div class="container float-left col-4" id="imageContainer">
      <img th:src="${book.imageURL}" class="rounded float-left" alt="book cover">

      <table class="table table-striped" id="bookInfo">
        <thead>
          <tr>
            <th>Author(s)</th>
            <td th:each="author : ${book.authors}" th:text="${author.name}"></td>
          </tr>
          <tr>
            <th>Publisher</th>
            <td th:text="${book.publisher}"></td>
          </tr>
          <tr>
            <th>Page count</th>
            <td th:text="${book.pageCount}"></td>
          </tr>
          <tr>
            <th>Genre(s)</th>
          </tr>
          <tr th:each="genre : ${book.genre}">
            <td th:text="${genre.genreName}"></td>
          </tr>
        </thead>
      </table>

      <div id="userOpinion">
        <form method="POST" sec:authorize="isAuthenticated()">
          <select name="bookStatus" id="bookStatus">
            <option value="">--Select One--</option>
            <option value="want">Want to read</option>
            <option value="currently">Currently reading</option>
            <option value="have">Have read</option>
          </select>
          <br />
          <br />
          <br />
          <input type="radio" name="bookRating" id="buyIt" value="buy" />
          <label for="buyIt">Buy it!</label>
          <br />
          <input type="radio" name="bookRating" id="borrowIt" value="borrow" />
          <label for="borrowIt">Borrow it</label>
          <br />
          <input type="radio" name="bookRating" id="skipIt" value="skip" />
          <label for="skipIt">Skip it</label>
          <br />
          <button class="btn btn-primary" type="submit" id="radioSubmit" value="submit">Submit</button>
        </form>
      </div>
    </div>
    <!--Ending div for image container-->

    <div class="container col-7 offset-5" id="synopsis">
      <p class="float-right" th:utext="${book.synopsis}"></p>
    </div>
    <!--Ending tag for synopsis-->
  </div>


  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="js/bookInfo.js"></script>
</body>

</html>